:root {
  --main-white: #f0f0f0;
  --main-red: #be3144;
  --main-blue: #45567d;
  --main-gray: #303841;
  --main-orange: #d96e1c;
}

html {
  font-size: 62.5%;
}

@media (max-width: 1200px) {
  html {
    font-size: 60%;
  }
}

@media (max-width: 980px) {
  html {
    font-size: 58%;
  }
}

@media (max-width: 768px) {
  html {
    font-size: 55%;
  }
}

@media (max-width: 460px) {
  html {
    font-size: 50%;
  }
}

* {
  margin: 0;
  padding: 0;
}

body {
  font-family: Roboto, sans-serif;
  background-color: #ffffff;
  background-image: url(mapa_verde.jpg);
}

.fab {
  padding: 5px;
  border-radius: 50%;
  transform: translate(0px, -5px);
}

.fa-facebook-f {
  padding: 5px 10px;
}

.fa-youtube:hover {
  background-color: #ff0000;
}

.fa-facebook-f:hover {
  background-color: #4267B2;
}

.fa-instagram:hover {
  background-image: linear-gradient(45deg, #405DE6, #5851DB, #833AB4, #C13584, #E1306C, #FD1D1D);
}

.topnav {
  position: fixed;
  width: 100%;
  top: -100px;
  background-color: hsla(0, 0%, 0%, 0.5);
  transition: top 0.3s;
}

.topnav .logo {
  float: left;
  width: 27.8rem;
  height: 10.0rem;
  display: block;
}


.topnav-right a {
  float: right;
  transform: translate(0%, 45%);
  color: #cfcfcf;
  text-decoration: none;
  padding: 1.5rem 2rem;
  font-size: 2.1rem;
  font-weight: 600;
  text-align: center;
}

.topnav-right a:hover {
  color: white;
}

.topnav .icon {
  display: none;
  float: right;
  font-size: 36px;
  color: white;
  padding: 20px;
}

.topnav.mobile .logo {
float: none;
display: block;
}

.topnav.mobile .icon {
  position: absolute;
  top: 0;
  right: 0;
}

.topnav.mobile .topnav-right a {
  display: block;
  float: none;
  transform: translate(0%, 0%);
}

@media (max-width: 800px) {
  .topnav-right a {
    display: none;
  }
  .topnav .icon {
    display: block;
  } 
}

.intro {
  position: relative;
  width: 100%;
  height: 700px;
  background: url("vic_bali.jpg") no-repeat scroll center;
  background-size: cover;
}

.background-overlay {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 700px;
  background-color: hsla(239, 0%, 70%, 0.1);
}

.intro-text {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 700px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.intro-text h1 {
  font-size: 6rem;
  color: var(--main-white);
  padding: 0 auto;
  text-align: center;
}

.intro-text h2 {
  font-size: 4.2rem;
  color: var(--main-white);
  text-align: center;
}

.videoclip-grid {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(280px, 1fr));
  grid-gap: 4rem;
  width: 90%;
  max-width: 1200px;
  margin: 6rem auto 6rem auto;
}

.videoclip-tile {
  display: block;
  background-color: var(--main-white);
  text-decoration: none;
  color: var(--main-blue);
  transition: transform 0.5s ease-in-out;
}

.videoclip-tile:hover {
  transform: scale(1.1);
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

.videoclip-tile img {
  display: block;
  width: 100%;
  height: auto;
  object-fit: cover;
}

.videoclip-desc {
  display: flex;
  flex-direction: column;
  height: 100px;
  padding: 10px 20px;
  justify-content: center;
  align-items: center;
}

.videoclip-desc h3 {
  font-size: 2.5rem;
  font-weight: 600;
  text-align: center;
}

.videoclip-desc p {
  font-size: 1.5rem;
  text-align: center;
}

#destinos h1 {
  font-size: 6rem;
  color: var(--main-blue);
  margin-top: 6rem;
  padding: 30px auto;
  text-align: center;
}

#sobre-mi h1 {
  font-size: 6rem;
  color: var(--main-blue);
  margin-top: 6rem;
  padding: 30px auto;
  text-align: center;
}

#identity {
  margin: 6rem auto 6rem auto;
  display: flex;
  flex-direction: row;
  width: 90%;
  max-width: 1200px;
}

@media (max-width: 680px) {
  #identity {
    flex-direction: column;
  }
}

#vic-image {
  flex: 50%;
  display: block;
  max-width: 50%;
  object-fit: cover;
}

@media (max-width: 680px) {
  #vic-image {
    flex: 100%;
    max-height: 300px;
    max-width: 100%;
  }
}

@media (max-width: 680px) {
  #presentation-text {
    flex: 100%;
    max-width: 100%;
  }
}

#presentation-text {
  flex: 50%;
  font-size: 2rem;
  background-color: lightgrey;
  padding: 2rem;
}

#presentation-text h3 {
  text-align: center;
}

#presentation-text p {
  text-align: justify;
}

#presentation-video {
  width: 90%;
  max-width: 1200px;
  margin-right: auto;
  margin-left: auto;
}

#presentation-video>iframe {
  display: block;
  margin-right: auto;
  margin-left: auto;
  width: 700px;
  height: 400px;
  max-width: 100%;
}

.footer {
  height: 400px;
  width: 100%;
  background-color: black;
  color: white;
}

.site-id {
display: flex;
flex-direction: column;
float: left;
margin-left: 10rem;
margin-top: 5rem;
}

.footer .logo {
  width: 27.8rem;
  height: 10.0rem;
  display: block;

}

.footer p {
  font-size: 2rem;
  margin-left: 20px;
  color: #f0f0f0;
  font-family: Caveat, Roboto, sans-serif;
}